@import "variables";
@import "mixins";

* {
  @include reset;
}

body {
  background-color: $primary-color;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-color;
  .logo {
    a {
      display: flex;
      align-items: center;
      gap: 1em;
      img {
        height: 35px;
        width: auto;
      }
      h1 {
        font-size: 2em;
        color: $tertiary-color;
      }
    }
  }
  .list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    li {
      display: flex;
      a {
        color: $primary-color;
        font-size: 1.2em;
        &:hover {
          color: $tertiary-color;
        }
      }
    }
  }
}

// @media (min-width: 1440px) {
//   body {
//     margin: 0 auto;
//     max-width: 1440px;
//   }
// }
