@import "variables";
@import "mixins";

* {
  @include reset;
}

body {
  background-color: $primary-color;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: $secondary-color;
  .logo {
    padding: 1.5rem 4rem;
    a {
      display: flex;
      align-items: center;
      gap: 1em;
      img {
        height: 35px;
        width: auto;
      }
      h1 {
        color: $tertiary-color;
        font-size: 1rem;
      }
    }
  }
  .list {
    display: flex;
    align-items: center;
    padding: 1.5rem 4rem;
    ul {
      display: flex;
      gap: 3em;
      li {
        a {
          display: flex;
          color: $primary-color;
          font-size: 1.2em;
          position: relative; /* Asegura que el subrayado ::after esté posicionado correctamente */
          &:hover {
            color: $tertiary-color;
            &::after {
              content: "";
              position: absolute;
              bottom: -12px; /* Coloca el subrayado debajo del texto */
              left: 0;
              width: 100%;
              height: 5px;
              background-color: $tertiary-color; /* Color del subrayado */
              opacity: 1; /* Muestra el subrayado cuando se pasa el mouse */
              transition: opacity 0.3s ease; /* Agrega una transición suave */
            }
          }
        }
      }
    }
  }
}

// @media (min-width: 1700px) {
//   body {
//     margin: 0 auto;
//     max-width: 1440px;
//   }
// }
